

.all-block{
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    height: 100vh;
    // width: 100%;

}




.slider-frame{
	  height: 100px;
	  width: 100px;
	  background: #292929;
	  background-image: url("../images/lamp-white-60.png");
	  background-repeat: no-repeat;
	  background-position: center;
	  margin: auto;

		@include media-breakpoint-down(md) {
		  height: 60px;
		  width: 60px;
		}

  		@include media-breakpoint-down(sm) {
		  height: 40px;
		  width: 40px;
		}

		i{
			font-size: 25px;
		}

	.relay-button {
	  height: 100px;
	  width: 100px;
	  display: block;
	  line-height: 95px;
	  -moz-border-radius: 4px;
	  border-radius: 50%;
	  font-family:sans-serif;
	  font-size:11px;
	  font-weight:bold;
	  text-align: center;
	  cursor: pointer;
	  color: black;	  
	  box-shadow: 0px 0px 20px 1px #555555;
  		@include media-breakpoint-down(md) {
		  height: 60px;
		  width: 60px;
			}

  		@include media-breakpoint-down(sm) {
		  height: 40px;
		  width: 40px;
			}
	}

	.on {
	  background: #28a745;    
		box-shadow: 0px 0px 20px 1px #fbfbfb;
	  background-image: url("../images/lamp-white-60.png");
	  background-repeat: no-repeat;
	  background-position: center;
		@include media-breakpoint-down(md) {
		  height: 60px;
		  width: 60px;
		}
  		@include media-breakpoint-down(sm) {
		  height: 40px;
		  width: 40px;
			}
	}

}


.element-block{

	display: grid;
	grid-template-rows:    repeat(2, auto);
	grid-template-columns: repeat(4, 1fr);


		@include media-breakpoint-down(md) {
			grid-template-rows:    repeat(2, auto);
			grid-template-columns: repeat(4, 1fr);

		padding-top: 10px;
		}

		@include media-breakpoint-down(sm) {
			grid-template-rows:    repeat(4, 120px);
			grid-template-columns: repeat(2, 1fr);
			padding-top: 50px;
		}



	.element{
		width: 200px;
		height: 200px;
		background: rgb(48,48,48);
		background: linear-gradient(90deg, rgba(48,48,48,1) 35%, rgba(17,17,17,1) 100%);
		padding-top: 50px;
		margin-bottom: 30px;
    	border-radius: 5%;
    	justify-self: center;

    	@include media-breakpoint-down(md) {
			width: 100px;
			height: 100px;
			padding-top: 20px;
			justify-self: center;
		}
  		@include media-breakpoint-down(sm) {
		  height: 80%;
		  width: 80%;
			}
	}
}






// relay button END



.header-relay{
	display: flex;
	justify-content: space-between;

	.only-date{
		
		align-self: flex-end;
	}

	.only-clock{
		order: -1;
	}

}



#clock {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    // font-family: courier, monospace;
    // text-align: center;
    color: white;
    font-size: 90px;
    font-weight: bold;
		@include media-breakpoint-down(md) {
			font-size: 30px;
		}
}

#date {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    // text-align: center;
    color: white;
    font-size: 20px;
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
}











