body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    height: 100vh;
    width: 100vw;
    
}






.slider-frame{
	  height: 100px;
	  width: 100px;
	  background: #292929;
	  background-image: url("../images/lamp-white-60.png");
	  background-repeat: no-repeat;
	  background-position: center;
	  margin: auto;

		i{
			font-size: 25px;
		}

	.relay-button {
	  height: 100px;
	  width: 100px;
	  display: block;
	  line-height: 95px;
	  -moz-border-radius: 4px;
	  border-radius: 50%;
	  font-family:sans-serif;
	  font-size:11px;
	  font-weight:bold;
	  text-align: center;
	  cursor: pointer;
	  color: black;	  
	}

	.on {
	  background: #28a745;

        box-shadow: 0px 0px 20px 1px #fbfbfb;

	  background-image: url("../images/lamp-white-60.png");
	  background-repeat: no-repeat;
	  background-position: center;
	}

}

// relay button END



.header-relay{
	display: flex;
	justify-content: space-between;

	.only-date{
		float: right;
		align-self: flex-end;
	}

	.only-clock{
		float: left;
		order: -1;
	}

}



#clock {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    // font-family: courier, monospace;
    // text-align: center;
    color: white;
    font-size: 90px;
}

#date {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    // text-align: center;
    color: white;
    font-size: 20px;
}








.important {
  font-weight: bold;
  font-size: xx-large;
}




.element-block{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	flex-wrap: wrap;

	.element{
		width: 200px;
		height: 200px;
		background: rgb(48,48,48);
		background: linear-gradient(90deg, rgba(48,48,48,1) 35%, rgba(17,17,17,1) 100%);
		padding-top: 50px;
		margin-bottom: 30px;
    	border-radius: 5%;
	}
}